.banner{
  background-image: url("../img/bg.jpeg");
  padding: 25%;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.banner2{
  background-image: url("../img/bg2.jpeg");
  padding: 25%;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.bi {
  height: 18px;
  width: 18px;
  color:#dc3545;
}

